// Bootstrap variable overrides

$form-check-input-checked-bg-color: #212529;  //$gray-900
$form-check-input-checked-border-color: #212529;  //$gray-900
$form-check-input-focus-border: #adb5bd;  //$gray-500
$form-check-input-focus-box-shadow: #adb5bd;  //$gray-500
