@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

@import "custom";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';


html {
  font-size: 16px;
}

@include media-breakpoint-up(xl) {
  body {
    padding: 0 3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Mega', sans-serif;
}

.small-h1 {
  font-size: 1.375rem;
}
#title-compass {
  font-size: 1.2rem;
  position: relative;
  top: -0.25rem;
}
@include media-breakpoint-up(md) {
  .small-h1 { font-size: 1.6rem; }
  #title-compass {
    font-size: 1.3rem;
    position: relative;
    top: -0.26rem;
  }
}
@include media-breakpoint-up(lg) {
  .small-h1 { font-size: 2rem; }
  #title-compass {
    font-size: 1.6rem;
    position: relative;
    top: -0.28rem;
  }
}
@include media-breakpoint-up(xl) {
  .small-h1 { font-size: 2.2rem; }
  #title-compass {
    font-size: 1.8rem;
    position: relative;
    top: -0.3rem;
  }
}


// ----- CONSTITUENT GRID FILTER TRAY ------------------------------------------
constituent-grid-filter {
  @extend .container-fluid;
  @extend .d-flex;
  @extend .flex-wrap;
}

#filter-tray {
  padding: 0;
}
#filter-tray__collapsible {

}
#filter-tray__buttons-row {
  padding-top: 1rem;
}

// ----- CONSTITUENT GRID ------------------------------------------------------
constituent-grid {
  @extend .container-fluid;
  @extend .d-flex;
  @extend .flex-wrap;

  margin: 1rem 0 1.5rem 0;
}

// Media breakpoints:
// xs  X-Small devices (portrait phones, less than 576px)
// sm  Small devices (landscape phones, 576px and up)
// md  Medium devices (tablets, 768px and up)
// lg  Large devices (desktops, 992px and up)
// xl  X-Large devices (large desktops, 1200px and up)
// xxl XX-Large devices (larger desktops, 1400px and up)

// Factors of 506: 1×506; 2×253; 11×46; 22×23.
$constituent-margin: 1px;
@mixin constituent-tile() {
  @include media-breakpoint-down(xs) {
    $constituents-per-row: 9;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(sm) {
    $constituents-per-row: 13;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(lg) {
    $constituents-per-row: 20;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
}
@mixin constituent-tile__content() {
  @include media-breakpoint-down(xs) {
    font-size: 0.65rem;
  }
  @include media-breakpoint-up(sm) {
    font-size: 0.75rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 0.80rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 0.85rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 1.25rem;
  }
}

.constituent-grid__constituent-tile {
  position: relative;
  @include constituent-tile;
  margin: $constituent-margin;
  box-sizing: border-box;
  border-radius: 3px;
}
.constituent-grid__constituent-tile::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.constituent-grid__constituent-tile__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include constituent-tile__content;

  // Center text
  display: flex;
  justify-content: center;
  align-items: center;
}
