@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

@import "custom";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';

// ----- UTILITIES -------------------------------------------------------------
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// ----- HTML ELEMENTS -----------------------------------------------------====
html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Mega', sans-serif;
  letter-spacing: -0.5px;
}


// Media breakpoints:
// xs  X-Small devices (portrait phones, less than 576px)
// sm  Small devices (landscape phones, 576px and up)
// md  Medium devices (tablets, 768px and up)
// lg  Large devices (desktops, landscape tablets, 992px and up)
// xl  X-Large devices (large desktops, 1200px and up)
// xxl XX-Large devices (larger desktops, 1400px and up)

// ----- NAVBAR ----------------------------------------------------------------
nav {
  z-index: 10;

  /*@include media-breakpoint-up(md) {
    padding: 0 calc(8.3333333333%);
  }
  @include media-breakpoint-up(lg) {
    padding: 0 calc(8.3333333333% + 3rem);
  }*/
}

#wordmark {
  @include no-select;
  transform: translateY(-1px);
  cursor: pointer;
}
.small-h1 {
  font-size: 1.5rem;
}
#wordmark--compass {
  font-size: 1.2rem;
  position: relative;
  top: -0.28rem;
}
@include media-breakpoint-up(md) {
  .small-h1 { font-size: 1.7rem; }
  #wordmark--compass {
    font-size: 1.4rem;
    position: relative;
    top: -0.3rem;
  }
}
@include media-breakpoint-up(lg) {
  #wordmark { transform: translateY(-2px); }
  .small-h1 { font-size: 2rem; }
  #wordmark--compass {
    font-size: 1.6rem;
    position: relative;
    top: -0.3rem;
  }
}
@include media-breakpoint-up(xl) {
  .small-h1 { font-size: 2.2rem; }
  #wordmark--compass {
    font-size: 1.8rem;
    position: relative;
    top: -0.32rem;
  }
}

.navbar-collapse {
  width: fit-content;
}

.navbar-toggler-icon--open {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(0.03906185,0,0,0.03906185,5.0002129,5.0001611)"><path d="M 284.29,256 506.15,34.14 c 7.811,-7.811 7.811,-20.475 0,-28.285 -7.811,-7.81 -20.475,-7.811 -28.285,0 L 256.005,227.715 34.145,5.855 c -7.811,-7.811 -20.475,-7.811 -28.285,0 -7.81,7.811 -7.811,20.475 0,28.285 L 227.72,256 5.86,477.86 c -7.811,7.811 -7.811,20.475 0,28.285 3.905,3.905 9.024,5.857 14.143,5.857 5.119,0 10.237,-1.952 14.143,-5.857 l 221.86,-221.86 221.86,221.86 c 3.905,3.905 9.024,5.857 14.143,5.857 5.119,0 10.237,-1.952 14.143,-5.857 7.811,-7.811 7.811,-20.475 0,-28.285 z" fill="rgba%28255, 255, 255, 0.55%29"/></g></svg>') !important;
}

@include media-breakpoint-down(lg) {
  .offcanvas-collapse {
    position: fixed;
    z-index: 10;
    top: 49px;  // Height of <nav>.
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}


// ----- CONSTITUENT GRID FILTER TRAY ------------------------------------------
constituent-grid-filter {
  @extend .container-fluid;
  @extend .d-flex;
  @extend .flex-wrap;
}


// ----- CONSTITUENT GRID ------------------------------------------------------
constituent-grid {
  @extend .container-fluid;
  @extend .d-flex;
  @extend .flex-wrap;

  margin: 0.5rem 0 1.5rem 0;
}

// Factors of 506: 1×506; 2×253; 11×46; 22×23.
$constituent-margin: 1px;
@mixin constituent-tile() {
  @include media-breakpoint-down(xs) {
    $constituents-per-row: 9;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(sm) {
    $constituents-per-row: 13;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(lg) {
    $constituents-per-row: 20;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
}
@mixin constituent-tile__content() {
  @include media-breakpoint-down(xs) {
    font-size: 0.65rem;
  }
  @include media-breakpoint-up(sm) {
    font-size: 0.75rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 0.80rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 0.85rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 1.25rem;
  }
}

.constituent-grid__constituent-tile {
  position: relative;
  @include constituent-tile;
  margin: $constituent-margin;
  box-sizing: border-box;
  border-radius: 0.25rem;
  cursor: pointer;
}
.constituent-grid__constituent-tile::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.constituent-grid__constituent-tile__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include constituent-tile__content;

  // Center text
  display: flex;
  justify-content: center;
  align-items: center;
}

// CONSTITUENT TILES COLOR SCHEMES

@mixin constituent-tile($recommendation-color) {
  background: $recommendation-color;
  border-bottom: 2px solid darken($recommendation-color, 18%);
  &:hover {
    background: darken($recommendation-color, 18%);
    border-bottom: 2px solid darken($recommendation-color, 36%);
  }
}

// summary.recommendation pastel palette:
// ORIGINAL: [coolors.co/f77e88-ffcec6-fbfbda-bdf8b3-86e998]
// CUSTOM: [coolors.co/f0192b-f66069-ffcec6-fbfbda-bdf8b3-64e076-26cf45]
$recommendation-none: $gray-300;
$recommendation-strong-buy: #20AC39;
$recommendation-buy: #64E076;
$recommendation-overperform: #BDF8B3;
$recommendation-hold: #FBFBDA;
$recommendation-underperform: #FFCEC6;
$recommendation-sell: #F66069;
$recommendation-strong-sell: #D30D1E;
.constituent-grid__constituent-tile--none { @include constituent-tile($recommendation-none); }
.constituent-grid__constituent-tile--strong-buy { @include constituent-tile($recommendation-strong-buy); }
.constituent-grid__constituent-tile--buy { @include constituent-tile($recommendation-buy); }
.constituent-grid__constituent-tile--overperform { @include constituent-tile($recommendation-overperform); }
.constituent-grid__constituent-tile--hold { @include constituent-tile($recommendation-hold); }
.constituent-grid__constituent-tile--underperform { @include constituent-tile($recommendation-underperform); }
.constituent-grid__constituent-tile--sell { @include constituent-tile($recommendation-sell); }
.constituent-grid__constituent-tile--strong-sell { @include constituent-tile($recommendation-strong-sell); }


// ----- CONSTITUENT DETAIL ----------------------------------------------------
$gics-communication: $cyan-500;
$gics-discretionary: $red-500;
$gics-staples: $green-500;
$gics-energy: $yellow-500;
$gics-financials: $green-500;
$gics-health: $teal-500;
$gics-industrials: $indigo-500;
$gics-it: $blue-500;
$gics-materials: $orange-500;
$gics-realestate: $orange-500;
$gics-utilities: $yellow-500;
.constituent-detail__gics__icon {
  &--communication { color: $gics-communication; }
  &--discretionary { color: $gics-discretionary; }
  &--staples { color: $gics-staples; }
  &--energy { color: $gics-energy; }
  &--financials { color: $gics-financials; }
  &--health { color: $gics-health; }
  &--industrials { color: $gics-industrials; }
  &--it { color: $gics-it; }
  &--materials { color: $gics-materials; }
  &--realestate { color: $gics-realestate; }
  &--utilities { color: $gics-utilities; }
}

.constituent-detail__timeline {
  &--communication {
    .col:before { border-color: $gics-communication !important; }
  }
  &--discretionary {
    .col:before { border-color: $gics-discretionary !important; }
  }
  &--staples {
    .col:before { border-color: $gics-staples !important; }
  }
  &--energy {
    .col:before { border-color: $gics-energy !important; }
  }
  &--financials {
    .col:before { border-color: $gics-financials !important; }
  }
  &--health {
    .col:before { border-color: $gics-health !important; }
  }
  &--industrials {
    .col:before { border-color: $gics-industrials !important; }
  }
  &--it {
    .col:before { border-color: $gics-it !important; }
  }
  &--materials {
    .col:before { border-color: $gics-materials !important; }
  }
  &--realestate {
    .col:before { border-color: $gics-realestate !important; }
  }
  &--utilities {
    .col:before { border-color: $gics-utilities !important; }
  }
}

@mixin recommendation-icon($recommendation-color) {
    color: $recommendation-color;
    &:before {
      border-bottom: 2px solid darken($recommendation-color, 36%);
    }
}

.constituent-detail__summary__recommendation {
  &:before {
    border-radius: 0.25rem;
  }
  &--strong-buy { @include recommendation-icon($recommendation-strong-buy); }
  &--buy { @include recommendation-icon($recommendation-buy); }
  &--overperform { @include recommendation-icon($recommendation-overperform); }
  &--hold { @include recommendation-icon($recommendation-hold); }
  &--none { @include recommendation-icon($recommendation-none); }
  &--underperform { @include recommendation-icon($recommendation-underperform); }
  &--sell { @include recommendation-icon($recommendation-sell); }
  &--strong-sell { @include recommendation-icon($recommendation-strong-sell); }
}

// -----------------------------------------------------------------------------
