@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

@import "custom";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons';

// ----- UTILITIES -------------------------------------------------------------
@mixin brand-font {
  font-family: 'Lexend Mega', sans-serif;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.external-link {
  font-size: 0.8em;
  &:before {
    transform: translateY(-4px);
  }
}

// ----- HTML ELEMENTS ---------------------------------------------------------
html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  position: relative;
}

$footer-height: 71px;  // Height including margin.
app-root {
  // Push the footer to the bottom of the viewport.
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: $footer-height;
}

h1, h2, h3, h4, h5, h6 {
  @include brand-font;
  letter-spacing: -0.5px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: green!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8;
}


// Media breakpoints:
// xs  X-Small devices (portrait phones, less than 576px)
// sm  Small devices (landscape phones, 576px and up)
// md  Medium devices (tablets, 768px and up)
// lg  Large devices (desktops, landscape tablets, 992px and up)
// xl  X-Large devices (large desktops, 1200px and up)
// xxl XX-Large devices (larger desktops, 1400px and up)

// ----- NAVBAR ----------------------------------------------------------------
nav {
  z-index: 10;
}

#wordmark {
  @include no-select;
  transform: translateY(-1px);
  cursor: pointer;
}
.small-h1 {
  font-size: 1.5rem;
}
#wordmark__compass {
  font-size: 1.2rem;
  position: relative;
  top: -0.29rem;
}
@include media-breakpoint-up(md) {
  .small-h1 { font-size: 1.7rem; }
  #wordmark__compass {
    font-size: 1.4rem;
    position: relative;
    top: -0.35rem;
  }
}
@include media-breakpoint-up(lg) {
  #wordmark { transform: translateY(-2px); }
  .small-h1 { font-size: 2rem; }
  #wordmark__compass {
    font-size: 1.6rem;
    position: relative;
    top: -0.3rem;
  }
}
@include media-breakpoint-up(xl) {
  .small-h1 { font-size: 2.2rem; }
  #wordmark__compass {
    font-size: 1.8rem;
    position: relative;
    top: -0.36rem;
  }
}

.navbar-collapse {
  width: fit-content;
}

.navbar-toggler-icon--open {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(0.03906185,0,0,0.03906185,5.0002129,5.0001611)"><path d="M 284.29,256 506.15,34.14 c 7.811,-7.811 7.811,-20.475 0,-28.285 -7.811,-7.81 -20.475,-7.811 -28.285,0 L 256.005,227.715 34.145,5.855 c -7.811,-7.811 -20.475,-7.811 -28.285,0 -7.81,7.811 -7.811,20.475 0,28.285 L 227.72,256 5.86,477.86 c -7.811,7.811 -7.811,20.475 0,28.285 3.905,3.905 9.024,5.857 14.143,5.857 5.119,0 10.237,-1.952 14.143,-5.857 l 221.86,-221.86 221.86,221.86 c 3.905,3.905 9.024,5.857 14.143,5.857 5.119,0 10.237,-1.952 14.143,-5.857 7.811,-7.811 7.811,-20.475 0,-28.285 z" fill="rgba%28255, 255, 255, 0.55%29"/></g></svg>') !important;
}

@include media-breakpoint-down(lg) {
  .offcanvas-collapse {
    position: fixed;
    z-index: 10;
    top: 49px;  // Height of <nav>.
    bottom: 0;
    left: 100%;
    width: 100%;
    padding: 1rem 2rem;
    overflow-y: auto;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

    background-color: #343a40;
    font-size: 1.4rem;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}


// ----- COLLAPSIBLE FILTER TRAY -----------------------------------------------
@include media-breakpoint-down(sm) {
  .filter-tray__collapsible__btn-group .btn {
    flex: 1;
    i, i + span {
      float: left;
    }
  }
  .--mobile-border-right {
    border-right: 1px solid $gray-400;
  }
}
@include media-breakpoint-down(xl) {
  .filter-tray__collapsible__btn-group .btn.tiny {
    &:first-of-type {
      padding-right: 0 !important;
    }
    &:not(:first-of-type):not(:last-of-type) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    &:last-of-type {
      padding-left: 0 !important;
    }
    span {
      font-size: 0.8rem;
      line-height: 1.6rem;
    }
  }
}




// ----- CONSTITUENT GRID ------------------------------------------------------
// Factors of 506: 1×506; 2×253; 11×46; 22×23.
$constituent-margin: 1px;
@mixin constituent-tile() {
  @include media-breakpoint-down(xs) {
    $constituents-per-row: 7;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(sm) {
    $constituents-per-row: 10;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(md) {
    $constituents-per-row: 13;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(lg) {
    $constituents-per-row: 20;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
  @include media-breakpoint-up(xxl) {
    $constituents-per-row: 23;
    flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
  }
}
@mixin constituent-tile__content() {
  @extend .font-monospace;
  @include media-breakpoint-down(xs) {
    font-size: 0.90rem;
  }
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 0.85rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1.1rem;
  }
}

.constituent-grid__constituent-tile {
  position: relative;
  @include constituent-tile;
  margin: $constituent-margin;
  box-sizing: border-box;
  border-radius: 0.25rem;
  cursor: pointer;
}
.constituent-grid__constituent-tile::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.constituent-grid__constituent-tile__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include constituent-tile__content;

  // Center text
  display: flex;
  justify-content: center;
  align-items: center;
}

// CONSTITUENT TILES COLOR SCHEMES

@mixin constituent-tile($sentiment-color) {
  background: $sentiment-color;
  border-bottom: 2px solid darken($sentiment-color, 18%);
  &:hover {
    background: darken($sentiment-color, 18%);
    border-bottom: 2px solid darken($sentiment-color, 36%);
  }
}

// ----- CONSTITUENT GRID PALETTES ---------------------------------------------
// --- Market sentiment palette
// ORIGINAL: [coolors.co/f77e88-ffcec6-fbfbda-bdf8b3-86e998]
// CUSTOM: [coolors.co/f0192b-f66069-ffcec6-fbfbda-bdf8b3-64e076-26cf45]
$sentiment-none: $gray-300;
$sentiment-strong-buy: #20AC39;
$sentiment-buy: #64E076;
$sentiment-overperform: #BDF8B3;
$sentiment-hold: #F7F7B6;
$sentiment-underperform: #FFCEC6;
$sentiment-sell: #F66069;
$sentiment-strong-sell: #D30D1E;
// --- Revenue per share palette

// --- Market cap palette

// --- Short ratio palette

.constituent-grid__constituent-tile {
  &--ms {
    &--none { @include constituent-tile($sentiment-none); }
    &--strong-buy { @include constituent-tile($sentiment-strong-buy); }
    &--buy { @include constituent-tile($sentiment-buy); }
    &--overperform { @include constituent-tile($sentiment-overperform); }
    &--hold { @include constituent-tile($sentiment-hold); }
    &--underperform { @include constituent-tile($sentiment-underperform); }
    &--sell { @include constituent-tile($sentiment-sell); }
    &--strong-sell { @include constituent-tile($sentiment-strong-sell); }
  }

  &--ca {  // Market cap | Seaborn green cubehelix
    &--0 { background-color: #ffffff; }
    &--1 { background-color: #bcdfc3; }
    &--2 { background-color: #a2d0ac; }
    &--3 { background-color: #81b98c; }
    &--4 { background-color: #619e6d; }
    &--5 { background-color: #437e4f; }
    &--6 { background-color: #2c5f36; color: white; }
    &--7 { background-color: #16391d; color: white; }
    &--8 { background-color: #0d2512; color: white; }
    &--9 { background-color: #000000; color: white; }
  }
  &--sh {  // Short ratio | Seaborn rocket
    &--0 { background-color: #faeadc; }
    &--1 { background-color: #f6bf9d; }
    &--2 { background-color: #f59c73; }
    &--3 { background-color: #f16546; }
    &--4 { background-color: #de2d44; color: white; }
    &--5 { background-color: #ae1759; color: white; }
    &--6 { background-color: #781e58; color: white; }
    &--7 { background-color: #471c48; color: white; }
    &--8 { background-color: #291535; color: white; }
    &--9 { background-color: #020419; color: white; }
  }
  &--fl {  // Short % of float | Truncated Seaborn viridis
    &--0 { background-color: #6699dd; }
    &--1 { background-color: #5f8dca; }
    &--2 { background-color: #5982ba; }
    &--3 { background-color: #5174a4; }
    &--4 { background-color: #49668e; }
    &--5 { background-color: #405777; }
    &--6 { background-color: #384961; color: white; }
    &--7 { background-color: #303b4b; color: white; }
    &--8 { background-color: #2b323d; color: white; }
    &--9 { background-color: #232529; color: white; }
  }
  &--rp {  // Revenue per share | Truncated Seaborn viridis
    &--0 { background-color: #20908c; color: white; }
    &--1 { background-color: #1e9e88; color: white; }
    &--2 { background-color: #21a685; color: white; }
    &--3 { background-color: #31b57a; }
    &--4 { background-color: #4dc26b; }
    &--5 { background-color: #6fce57; }
    &--6 { background-color: #9cd93b; }
    &--7 { background-color: #c1df23; }
    &--8 { background-color: #d8e219; }
    &--9 { background-color: #fde724; }
  }
}

.colour-swatch {
  &--ca {
    &--1 { color: #bcdfc3; }
    &--3 { color: #81b98c; }
    &--5 { color: #437e4f; }
    &--7 { color: #16391d; }
    &--9 { color: #000000; }
  }
  &--sh {
    &--1 { color: #f6bf9d; }
    &--3 { color: #f16546; }
    &--5 { color: #ae1759; }
    &--7 { color: #471c48; }
    &--9 { color: #020419; }
  }
  &--fl {
    &--1 { color: #5f8dca; }
    &--3 { color: #5174a4; }
    &--5 { color: #405777; }
    &--7 { color: #303b4b; }
    &--9 { color: #232529; }
  }
  &--rp {
    &--1 { color: #1e9e88; }
    &--3 { color: #31b57a; }
    &--5 { color: #6fce57; }
    &--7 { color: #c1df23; }
    &--9 { color: #fde724; }
  }
  &--ms {
    &--strong-buy { color: $sentiment-strong-buy; }
    &--buy { color: $sentiment-buy; }
    &--hold { color: $sentiment-hold; }
    &--sell { color: $sentiment-sell; }
    &--strong-sell { color: $sentiment-strong-sell; }
  }
}

// ----- CONSTITUENT DETAIL ----------------------------------------------------
$gics-communication: $cyan-500;
$gics-discretionary: $red-500;
$gics-staples: $green-500;
$gics-energy: $yellow-500;
$gics-financials: $green-500;
$gics-health: $teal-500;
$gics-industrials: $indigo-500;
$gics-it: $blue-500;
$gics-materials: $orange-500;
$gics-realestate: $orange-500;
$gics-utilities: $yellow-500;
.constituent-detail__gics__icon {
  &--communication { color: $gics-communication; }
  &--discretionary { color: $gics-discretionary; }
  &--staples { color: $gics-staples; }
  &--energy { color: $gics-energy; }
  &--financials { color: $gics-financials; }
  &--health { color: $gics-health; }
  &--industrials { color: $gics-industrials; }
  &--it { color: $gics-it; }
  &--materials { color: $gics-materials; }
  &--realestate { color: $gics-realestate; }
  &--utilities { color: $gics-utilities; }
}

.constituent-detail__timeline {
  &--communication { .col:before { border-color: $gics-communication !important; } }
  &--discretionary { .col:before { border-color: $gics-discretionary !important; } }
  &--staples { .col:before { border-color: $gics-staples !important; } }
  &--energy { .col:before { border-color: $gics-energy !important; } }
  &--financials { .col:before { border-color: $gics-financials !important; } }
  &--health { .col:before { border-color: $gics-health !important; } }
  &--industrials { .col:before { border-color: $gics-industrials !important; } }
  &--it { .col:before { border-color: $gics-it !important; } }
  &--materials { .col:before { border-color: $gics-materials !important; } }
  &--realestate { .col:before { border-color: $gics-realestate !important; } }
  &--utilities { .col:before { border-color: $gics-utilities !important; } }
}

@mixin sentiment-icon($sentiment-color) {
    color: $sentiment-color;
    &:before {
      border-bottom: 2px solid darken($sentiment-color, 36%);
    }
}

.colour-swatch {
  &:before {
    border-radius: 0.25rem;
  }
  &--strong-buy { @include sentiment-icon($sentiment-strong-buy); }
  &--buy { @include sentiment-icon($sentiment-buy); }
  &--overperform { @include sentiment-icon($sentiment-overperform); }
  &--hold { @include sentiment-icon($sentiment-hold); }
  &--none { @include sentiment-icon($sentiment-none); }
  &--underperform { @include sentiment-icon($sentiment-underperform); }
  &--sell { @include sentiment-icon($sentiment-sell); }
  &--strong-sell { @include sentiment-icon($sentiment-strong-sell); }
}


// ----- ABOUT ----------------------------------------------------------------
.about__content {
  font-size: 1.15rem;
}


// ----- FOOTER ----------------------------------------------------------------
.footer {
  border-top: 4px solid var(--bs-dark);
  position: absolute;
  bottom: 0;
  width: 100%;

  $footer-icon-size: 2rem;
  $footer-text-padding: 0.5rem;
  h6 {
    padding-top: $footer-text-padding;
  }
  .icon-wrapper {
    height: $footer-icon-size;
    width: $footer-icon-size;
    min-width: $footer-icon-size;
    position: absolute;
    left: calc(50vw - (#{$footer-icon-size} / 2));
    bottom: 1.8rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: var(--bs-dark);
    border-radius: 50%;

    i {
      font-size: $footer-icon-size * 0.8;
      transform: translate(0.0375rem, -0.12rem);
    }
  }
}


// -----------------------------------------------------------------------------
