<div class="container-fluid px-lg-5">

  <div class="row mt-3 mt-lg-4">
    <div class="col col-10 offset-1 col-md-7 col-lg-6">

      <h1 class="mb-3">ABOUT</h1>

      <p class="about__content">
        SqueezeCompass displays the stocks that make up the S&P500 and ranks, filters, and visualises them based on aspects such as their trading volume and short interest.
      </p>

      <p class="about__content">
        SqueezeCompass is born amongst the ashes of the <span class="font-monospace">$GME</span> bubble of early 2021.
        It is partly an attempt to delve into the fundamentals of a short squeeze and an opportunity
        to explore a couple of technologies I had been wanting to make something with.
      </p>
      <p class="about__content text-muted">
        Data derived from multiple sources including Morningstar and quarterly or annual reports.
      </p>


      <h2 class="mt-5 mb-3">Technology</h2>
      <p class="about__content">
        My motivation for this project was to make something useful and put it live in a relatively short span of time.
      </p>
      <p class="about__content">
        The data collection module enabled me to try out Python 3's type annotations.
        I appreciated that they allow programs to retain the flexibility of Python's familiar dynamic typing when desired while encouraging the discipline of
        static typing, which greatly helped to catch data mismatch bugs in the IDE.
      </p>
      <p class="about__content">
        The web module allowed me to delve into Angular 11. The speed with which it enabled me to create SqueezeCompass was only
        overshadowed by the ease of deploying the finished product to a static hosting provider (in this case GitHub pages).
      </p>
      <p class="about__content">
        In terms of frontend libraries, Bootstrap 5 (in beta at the time of writing) is a joy to use, made even better by the liberal application of <abbr title="Block Element Modifier">BEM</abbr> nomenclature to components.
      </p>

      <p class="about__content">
        The code for this project is open-source and available on <a href="https://github.com/albertomh/SqueezeCompass" target="_blank" style="white-space: nowrap;">GitHub<i class="bi bi-box-arrow-up-right text-decoration-none ps-1 external-link"></i></a>.
      </p>

      <hr class="mt-5 mb-3">

      <p class="small text-muted">
        SqueezeCompass does not offer investment advice and none of the data presented should be construed as investment advice. The information contained on this page is not, and should not be read as, an offer or recommendation to buy or sell any securities.
      </p>

    </div>
  </div>

</div>
