<div class="container-fluid px-lg-5">

  <div class="row mt-5">
    <div class="col col-10 offset-1">
      <h1 class="mb-4">ABOUT</h1>
      <p class="about__content pe-lg-5">
        SqueezeCompass is born from the ashes of the <span class="font-monospace">$GME</span> bubble of early 2021.
        Partly an attempt to delve into some of the fundamentals of a <em>short-squeeze</em> and partly an opportunity
        to try out a couple technologies I had been wanting to make something with.
      </p>

      <p class="about__content pe-lg-5">
        The premise behind SqueezeCompass is to display the stocks that make up the S&P500 and rank, filter, and visualise them based on aspects related to their trading volume and short interest.
      </p>

      <h2 class="mt-5 mb-3">Technology</h2>
      <p class="about__content pe-lg-5">
        My motivation for this project was to make something useful and put it live in a relatively short span of time.
      </p>
      <p class="about__content">
        The <span class="font-monospace">scraper</span> data collection module enabled me to try out Python 3's type annotations.
        I appreciated that they allow programs to retain the flexibility of Python's familiar dynamic typing when desired while encouraging the discipline of
        static typing, which greatly helped to catch data mismatch bugs in the IDE.
      </p>
      <p class="about__content">
        The <span class="font-monospace">web</span> module allowed me to delve into Angular 11. The speed with which it enabled me create SqueezeCompass was only
        overshadowed by the ease of deploying the finished product to a static hosting provider (in this case GitHub pages).
      </p>
      <p class="about__content">
        In terms of frontend libraries, Bootstrap 5 (in beta at the time of writing) is a joy to use, made even better by the liberal application of <abbr title="Block Element Modifier">BEM</abbr> nomenclature to components.
      </p>

      <p class="about__content pe-lg-5">
        All the code underpinning this project is open-source and available on <a href="https://github.com/albertomh/SqueezeCompass" target="_blank">GitHub<i class="bi bi-box-arrow-up-right text-decoration-none ps-1 external-link"></i></a>.
      </p>

      <p class="small text-muted pe-lg-5 pt-3">
        SqueezeCompass does not offer investment advice and none of the data presented should be construed as investment advice.<br>
        The information contained on this page is not, and should not be read as, an offer or recommendation to buy or sell any securities.
      </p>
    </div>
    <div class="col">

    </div>
  </div>

</div>
