// Pastel palette:
// ORIGINAL: [coolors.co/f77e88-ffcec6-fbfbda-bdf8b3-86e998]
// CUSTOM: [coolors.co/f0192b-f66069-ffcec6-fbfbda-bdf8b3-64e076-26cf45]
$color-strong-buy: #20AC39;
$color-buy: #64E076;
$color-overperform: #BDF8B3;
$color-hold: #FBFBDA;
$color-underperform: #FFCEC6;
$color-sell: #F66069;
$color-strong-sell: #D30D1E;
.constituent-grid__constituent-tile--strong-buy {
  background: $color-strong-buy;
  border-bottom: 2px solid darken($color-strong-buy, 18%);
  &:hover {
    background: darken($color-strong-buy, 18%);
    border-bottom: 2px solid darken($color-strong-buy, 36%);
  }
}
.constituent-grid__constituent-tile--buy {
  background: $color-buy;
  border-bottom: 2px solid darken($color-buy, 18%);
  &:hover {
    background: darken($color-buy, 18%);
    border-bottom: 2px solid darken($color-buy, 36%);
  }
}
.constituent-grid__constituent-tile--overperform {
  background: $color-overperform;
  border-bottom: 2px solid darken($color-overperform, 18%);
  &:hover {
    background: darken($color-overperform, 18%);
    border-bottom: 2px solid darken($color-overperform, 36%);
  }
}
.constituent-grid__constituent-tile--hold {
  background: $color-hold;
  border-bottom: 2px solid darken($color-hold, 18%);
  &:hover {
    background: darken($color-hold, 18%);
    border-bottom: 2px solid darken($color-hold, 36%);
  }
}
.constituent-grid__constituent-tile--underperform {
  background: $color-underperform;
  border-bottom: 2px solid darken($color-underperform, 18%);
  &:hover {
    background: darken($color-underperform, 18%);
    border-bottom: 2px solid darken($color-underperform, 36%);
  }
}
.constituent-grid__constituent-tile--sell {
  background: $color-sell;
  border-bottom: 2px solid darken($color-sell, 18%);
  &:hover {
    background: darken($color-sell, 18%);
    border-bottom: 2px solid darken($color-sell, 36%);
  }
}
.constituent-grid__constituent-tile--strong-sell {
  background: $color-strong-sell;
  border-bottom: 2px solid darken($color-strong-sell, 18%);
  &:hover {
    background: darken($color-strong-sell, 18%);
    border-bottom: 2px solid darken($color-strong-sell, 36%);
  }
}
