// Grid of squares: [stackoverflow.com/a/46550527]
//:host {  // <constituent-grid>
//  display: flex;
//  flex-wrap: wrap;
//}
//
//$constituents-per-row: 23;  // Factors of 506: 1×506; 2×253; 11×46; 22×23.
//$constituent-margin: 1px;
//.constituent-grid__constituent-tile {
//  position: relative;
//  flex-basis: calc(100% / #{$constituents-per-row} - #{$constituent-margin} * 2);
//  margin: $constituent-margin;
//  box-sizing: border-box;
//  border-radius: 3px;
//}
//
//.constituent-grid__constituent-tile::before {
//  content: '';
//  display: block;
//  padding-top: 100%;
//}

// Pastel palette:
// ORIGINAL: [coolors.co/f77e88-ffcec6-fbfbda-bdf8b3-86e998]
// CUSTOM: [coolors.co/f0192b-f66069-ffcec6-fbfbda-bdf8b3-64e076-26cf45]
$color-strong-buy: #20AC39;
$color-buy: #64E076;
$color-overperform: #BDF8B3;
$color-hold: #FBFBDA;
$color-underperform: #FFCEC6;
$color-sell: #F66069;
$color-strong-sell: #D30D1E;
.constituent-grid__constituent-tile--strong-buy {
  background: $color-strong-buy;
  border-bottom: 2px solid darken($color-strong-buy, 18%);
}
.constituent-grid__constituent-tile--buy {
  background: $color-buy;
  border-bottom: 2px solid darken($color-buy, 18%);
}
.constituent-grid__constituent-tile--overperform {
  background: $color-overperform;
  border-bottom: 2px solid darken($color-overperform, 18%);
}
.constituent-grid__constituent-tile--hold {
  background: $color-hold;
  border-bottom: 2px solid darken($color-hold, 18%);
}
.constituent-grid__constituent-tile--underperform {
  background: $color-underperform;
  border-bottom: 2px solid darken($color-underperform, 18%);
}
.constituent-grid__constituent-tile--sell {
  background: $color-sell;
  border-bottom: 2px solid darken($color-sell, 18%);
}
.constituent-grid__constituent-tile--strong-sell {
  background: $color-strong-sell;
  border-bottom: 2px solid darken($color-strong-sell, 18%);
}
