.constituent-detail__symbol-header {
  font-size: 3rem;
}

.constituent-detail__gics__icon {
  transform: translateY(-1rem);
  font-size: 3rem;
}

// css-tricks.com/snippets/css/unordered-list-as-a-timeline/
.constituent-detail__timeline {
  &:before {
    display: inline-block;
    content: "";
    border-top: .2rem solid #adb5bd;
    width: 100%;
    margin: 0;
  }

  .col {
    padding-top: 0.4rem;

    &:before {
      content: '';
      background-color: white;
      border: 3px solid;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      display: inline-block;
      position: absolute;
      transform: translate(0.7rem, -1rem);
    }
  }
}
