<!-- BACK BAR -->
<div class="container-fluid bg-light">

  <div class="row py-2 px-lg-5">
    <div class="col">
      <a role="button" class="btn btn-link text-decoration-none float-start px-0"
         (click)="onClickBackLink()">
        <i class="bi bi-arrow-left-circle"></i> Back
      </a>
    </div>
  </div>

</div>

<!-- MAIN CONTENT -->
<div class="container-fluid pt-2 px-lg-5">

  <div class="row">
    <div class="col col-10 offset-1">
      <h1 class="constituent-detail__symbol-header m-0">{{constituent.symbol}}</h1>
      <p class="text-muted">{{constituent.name}}</p>
    </div>
  </div>

  <div class="row mt-1">

    <!-- GICS: ICON AND SECTOR & SUB-INDUSTRY. -->
    <div class="col-10 offset-1 col-md-5">
      <div class="row">
        <div class="col-3 col-lg-2 d-flex flex-column align-items-center align-items-md-start align-items-xl-center pe-0">
          <i class="bi constituent-detail__gics__icon"
             [ngClass]="[gicsSectorIcons[constituent.gics_sector][0] + ' ' + [gicsSectorIcons[constituent.gics_sector][1]]]"></i>
        </div>
        <div class="col-9 ps-md-0 col-lg-10">
          <p class="fw-bold m-0">{{constituent.gics_sector}}</p>
          <p class="text-muted">{{constituent["gics_sub-industry"]}}</p>
        </div>
      </div>
    </div>

    <!-- TIMELINE -->
    <div class="col-10 offset-1 mt-3 mt-sm-0 col-md-5 offset-md-0">
      <div class="row text-center constituent-detail__timeline"
           [ngClass]="[gicsSectorIcons[constituent.gics_sector][1]]">
        <div class="col text-center">
          <span class="fw-bold">{{constituent.founded.slice(0, 4)}}</span><br>
          <span class="text-muted">Founded</span>
        </div>
        <div class="col">
          <span class="fw-bold">{{constituent.added.slice(0, 4)}}</span><br>
          <span class="text-muted">Listed on S&P500</span>
        </div>
      </div>
    <div>

  </div>

  <div class="row">

  </div>



</div>
