<!-- BACK BAR -->
<div class="container-fluid bg-light">

  <div class="row py-2 px-lg-5">
    <div class="col">
      <a role="button" class="btn btn-link text-decoration-none float-start px-0"
         (click)="onClickBackLink()">
        <i class="bi bi-arrow-left-circle"></i> Back
      </a>
    </div>
  </div>

</div>

<!-- MAIN CONTENT -->
<div class="container-fluid pt-2 px-lg-5 mb-3">

<!-- SYMBOL & NAME -->
  <div class="row">
    <div class="col col-10 offset-1">
      <h1 class="constituent-detail__symbol m-0">{{constituent.symbol}}</h1>
      <p class="text-muted ms-1">{{constituent.name}}</p>
    </div>
  </div>

<!-- GICS & TIMELINE -->
  <div class="row mt-1">

    <!-- GICS: ICON AND SECTOR & SUB-INDUSTRY. -->
    <div class="col-10 offset-1 col-md-5">
      <div class="row">
        <div class="col-3 col-lg-2 d-flex flex-column align-items-center align-items-md-start align-items-xl-center pe-0">
          <i class="bi"
             [ngClass]="[gicsSectorIcons[constituent.gics_sector][0] + ' constituent-detail__gics__icon constituent-detail__gics__icon' + [gicsSectorIcons[constituent.gics_sector][1]]]"></i>
        </div>
        <div class="col-9 ps-md-0 col-lg-10">
          <p class="fw-bold m-0">{{constituent.gics_sector}}</p>
          <p class="text-muted">{{constituent["gics_sub-industry"]}}</p>
        </div>
      </div>
    </div>

    <!-- TIMELINE -->
    <div class="col-10 offset-1 mt-3 mt-sm-0 col-md-5 offset-md-0">
      <div class="row text-center"
           [ngClass]="'constituent-detail__timeline constituent-detail__timeline' + [gicsSectorIcons[constituent.gics_sector][1]]">
        <div class="col" *ngIf="constituent.founded !== null">
          <span class="fw-bold">{{constituent.founded.slice(0, 4)}}</span><br>
          <span class="text-muted">Founded</span>
        </div>
        <div class="col" *ngIf="constituent.added !== null">
          <span class="fw-bold">{{constituent.added.slice(0, 4)}}</span><br>
          <span class="text-muted">Listed on S&P500</span>
        </div>
      </div>
    </div>

  </div>

<!-- -->
  <div class="row mt-4">

    <!-- SNAPSHOT.SUMMARY-->
    <div class="col-10 offset-1 col-md-5">
      <div class="row constituent-detail__card">
        <i class="bi bi-compass watermark"></i>
        <div class="col ps-0 ms-md-3">

          <dl class="row m-0" *ngIf="snapshot.summary.recommendation; let recommendation">
            <dt class="col-7">Market sentiment</dt>
            <dd class="col-5" [class.pe-0]="recommendation === 'underperform' || recommendation === 'overperform'">
              <i class="bi bi-square-fill pe-1"
                 [ngClass]="'constituent-detail__summary__recommendation constituent-detail__summary__recommendation' + sentimentsClasses[recommendation]"></i>
              <span [class.small]="recommendation === 'underperform' || recommendation === 'overperform'">{{sentimentsHumanized[recommendation]}}</span>
            </dd>

            <dt class="col-7">Avg vol (3 months)</dt>
            <dd class="col-5">{{snapshot.summary.avg_vol_3_months / 1000000 | currency}}M</dd>

            <dt class="col-7">Avg vol (10 days)</dt>
            <dd class="col-5">{{snapshot.summary.avg_vol_10_days / 1000000 | currency}}M</dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- SNAPSHOT.FINANCIAL-->
    <div class="col-10 offset-1 col-md-5 mt-4 mt-sm-0">
      <div class="row constituent-detail__card">
        <i class="bi bi-cash-stack watermark"></i>
        <div class="col ps-0 ms-md-3">

          <dl class="row m-0">
              <dt class="col-7">Market cap</dt>
              <dd class="col-5" *ngIf="snapshot.financial.market_cap <= 1000000000">{{snapshot.financial.market_cap / 1000000 | currency}}M</dd>
              <dd class="col-5" *ngIf="snapshot.financial.market_cap > 1000000000">{{snapshot.financial.market_cap / 1000000000 | currency}}B</dd>
              <dd class="col-5" *ngIf="snapshot.financial.market_cap > 1000000000000">{{snapshot.financial.market_cap / 1000000000000 | currency}}T</dd>

              <dt class="col-7">Total revenue</dt>
              <dd class="col-5" *ngIf="snapshot.financial.total_revenue <= 1000000000">{{snapshot.financial.total_revenue / 1000000 | currency}}M</dd>
              <dd class="col-5" *ngIf="snapshot.financial.total_revenue > 1000000000">{{snapshot.financial.total_revenue / 1000000000 | currency}}B</dd>

              <dt class="col-7">Total cash</dt>
              <dd class="col-5" *ngIf="snapshot.financial.total_cash <= 1000000000">{{snapshot.financial.total_cash / 1000000 | currency}}M</dd>
              <dd class="col-5" *ngIf="snapshot.financial.total_cash > 1000000000">{{snapshot.financial.total_cash / 1000000000 | currency}}B</dd>

              <dt class="col-7">Total debt</dt>
              <dd class="col-5" *ngIf="snapshot.financial.total_debt <= 1000000000">{{snapshot.financial.total_debt / 1000000 | currency}}M</dd>
              <dd class="col-5" *ngIf="snapshot.financial.total_debt > 1000000000">{{snapshot.financial.total_debt / 1000000000 | currency}}B</dd>

              <dt class="col-7">Gross profits</dt>
              <dd class="col-5" *ngIf="abs(snapshot.financial.gross_profits) <= 1000000000" [ngClass]="{'text-success': snapshot.financial.gross_profits > 0, 'text-danger': snapshot.financial.gross_profits < 0}">
                {{snapshot.financial.gross_profits / 1000000 | currency}}M</dd>
              <dd class="col-5" *ngIf="abs(snapshot.financial.gross_profits) > 1000000000" [ngClass]="{'text-success': snapshot.financial.gross_profits > 0, 'text-danger': snapshot.financial.gross_profits < 0}">
                {{snapshot.financial.gross_profits / 1000000000 | currency}}B</dd>
          </dl>

        </div>
      </div>
    </div>

  </div>

</div>
