<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-lg-5">
  <div class="container-fluid p-lg-0">

    <h1 class="text-white m-0" id="wordmark"
        (click)="navigateToHomepage()">
      S<span class="small-h1">QUEEZE</span>C<span class="small-h1"><i class="bi bi-compass" id="wordmark__compass"></i>MPASS</span>
    </h1>

    <a class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas"
            (click)="onToggleoffCanvasMenu()">
      <span class="navbar-toggler-icon" [ngClass]="{'navbar-toggler-icon--open': offCanvasMenuIsOpen}"></span>
    </a>

    <div class="navbar-collapse offcanvas-collapse"
         [ngClass]="{'open': offCanvasMenuIsOpen}">
      <div class="navbar-nav">
        <a class="nav-link" [class.active]="url === '/about'"
           [routerLink]="['/about']" queryParamsHandling="merge">
          About
        </a>
      </div>

      <hr class="d-lg-none text-white">

      <div class="d-block d-lg-none">
        <h1 class="mt-4 mb-3 text-muted">QUICKLINKS</h1>
        <div class="navbar-nav mb-2">
          <a class="nav-link"
             [routerLink]="['/']" [queryParams]="{fms: 's,h,b', fcp: 'gt', so: 'fl', vi: 'fl', ft: 'c'}" queryParamsHandling="merge">
            Blue chips by short % of float
          </a>
        </div>
        <div class="navbar-nav mb-2">
          <a class="nav-link"
             [routerLink]="['/']" [queryParams]="{fms: 'h,b', fcp: 'lt', so: 'ca', vi: 'sh', ft: 'c'}" queryParamsHandling="merge">
            Mid-caps by short ratio
          </a>
        </div>
        <div class="navbar-nav mb-2">
          <a class="nav-link"
             [routerLink]="['/']" [queryParams]="{fms: 's,h,b', fcp: 'lt,bt,gt', so: 'al', vi: 'ca', ft: 'c'}" queryParamsHandling="merge">
            All stocks by market cap
          </a>
        </div>
      </div>

    </div>

  </div>
</nav>
