<div class="container-fluid bg-light" id="filter-tray">


  <div class="collapse py-2" id="filter-tray__collapsible"
       [class.show]="filterTrayOpen">
    <div class="row px-4 px-sm-0 px-lg-5">

<!-- COLUMN 1/3: FILTER BY -->
      <div class="col-12 col-md-4 ps-lg-0">

      <!-- FILTER BY MARKET SENTIMENT -->
        <div class="row">
          <div class="col">
            <span class="filter-label fw-bold"><i class="bi bi-funnel pe-1"></i> Market sentiment</span>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <div class="btn-group" role="group">
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('fms', FilterSentiment[FilterSentiment.s])"
                 (click)="filterByMarketSentiment(FilterSentiment.s)">
                <i class="bi" [ngClass]="inQueryParams('fms', FilterSentiment[FilterSentiment.s])?'bi-check-square-fill':'bi-square'"></i> Sell
              </a>
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('fms', FilterSentiment[FilterSentiment.h])"
                 (click)="filterByMarketSentiment(FilterSentiment.h)">
                <i class="bi" [ngClass]="inQueryParams('fms', FilterSentiment[FilterSentiment.h])?'bi-check-square-fill':'bi-square'"></i> Hold
              </a>
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('fms', FilterSentiment[FilterSentiment.b])"
                 (click)="filterByMarketSentiment(FilterSentiment.b)">
                <i class="bi" [ngClass]="inQueryParams('fms', FilterSentiment[FilterSentiment.b])?'bi-check-square-fill':'bi-square'"></i> Buy
              </a>
            </div>

          </div>
        </div>

      </div> <!-- /col 1/3 -->


  <!-- COLUMN 2/3: SORT BY -->
      <div class="col-12 col-md-4">

      <!-- SORT ALPHABETICALLY -->
        <div class="row">
          <div class="col">
            <span class="filter-label fw-bold"><i class="bi bi-arrow-down-up pe-1"></i> Sort by</span>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <div class="btn-group" role="group">
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('so', SortBy[SortBy.al])"
                 (click)="orderAlphabetically(SortBy.al)">
                <i class="bi" [ngClass]="inQueryParams('so', SortBy[SortBy.al])?'bi-record-circle-fill':'bi-circle'"></i> A<i class="bi bi-arrow-right"></i>Z
              </a>
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('so', SortBy[SortBy.re])"
                 (click)="orderAlphabetically(SortBy.re)">
                <i class="bi" [ngClass]="inQueryParams('so', SortBy[SortBy.re])?'bi-record-circle-fill':'bi-circle'"></i> Z<i class="bi bi-arrow-right"></i>A
              </a>
            </div>

          </div>
        </div>

      </div> <!-- /col 2/3 -->


<!-- COLUMN 3/3: COLOUR SCHEME -->
      <div class="col-12 col-md-4">

      <!-- COLOUR BY -->
        <div class="row">
          <div class="col">
            <span class="filter-label fw-bold"><i class="bi bi-brush pe-1"></i> Visualise</span>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <div class="btn-group" role="group">
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('cs', SortBy[SortBy.al])"
                 (click)="orderAlphabetically(SortBy.al)">
                <i class="bi" [ngClass]="inQueryParams('cs', SortBy[SortBy.al])?'bi-record-circle-fill':'bi-circle'"></i> Short interest
              </a>
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('cs', SortBy[SortBy.re])"
                 (click)="orderAlphabetically(SortBy.re)">
                <i class="bi" [ngClass]="inQueryParams('cs', SortBy[SortBy.re])?'bi-record-circle-fill':'bi-circle'"></i> Market cap
              </a>
            </div>

          </div>
        </div>

      </div> <!-- /col 3/3 -->


    </div> <!-- /row -->
  </div> <!-- /filter-tray__collapsible -->


<!-- FILTER METACONTROLS: SHOW/HIDE TRAY AND CLEAR FILTERS. -->
  <div class="row py-2" id="filter-tray__buttons-row">
    <div class="col-auto me-auto me-xl-0 ps-lg-5">
      <a role="button" class="btn btn-primary float-start" data-bs-toggle="collapse" href="#filter-tray__collapsible"
         (click)="onToggleFilterTrayOpen()">
        <i class="bi" [ngClass]="{'bi-caret-down-fill': !filterTrayOpen, 'bi-caret-up-fill': filterTrayOpen}"></i> {{filterTrayOpen ? 'Hide filters' : 'Show filters'}}
      </a>
    </div>

    <div class="col-auto pe-lg-5">
      <a role="button" class="btn btn-link text-decoration-none float-end float-lg-start pe-0 pe-lg-2"
         (click)="resetToDefaultFilters()">
        Reset filters
      </a>
    </div>
  </div>


</div>
