<div class="container-fluid bg-light" id="filter-tray">

  <div class="collapse pt-2 pb-1" id="filter-tray__collapsible"
       [class.show]="filterTrayOpen">

<!-- FIRST ROW OF FILTER TRAY -->
    <div class="row">
      <div class="col px-lg-5">

        <div class="row">
          <div class="col">
            <label>Ticker symbol</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn-group" role="group">
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="queryParams['o'] === AlphabeticalOrder[AlphabeticalOrder.a] || typeOf(queryParams?.o) === 'undefined'"
                 (click)="toggleAlphabeticalOrder(AlphabeticalOrder.a)">
                <i class="bi"></i>A<i class="bi bi-arrow-right"></i>Z
              </a>
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="queryParams['o'] === AlphabeticalOrder[AlphabeticalOrder.r]"
                 (click)="toggleAlphabeticalOrder(AlphabeticalOrder.r)">
                <i class="bi"></i>Z<i class="bi bi-arrow-right"></i>A
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

<!-- SECOND ROW: MARKET SENTIMENT -->
    <div class="row mt-2">
      <div class="col px-lg-5">

        <div class="row">
          <div class="col">
            <label>Market sentiment</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn-group" role="group">
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('ms', MarketSentiment[MarketSentiment.s])"
                 (click)="updateMarketSentiment(MarketSentiment.s)">
                <i class="bi" [ngClass]="inQueryParams('ms', MarketSentiment[MarketSentiment.s])?'bi-check2-square':'bi-square'"></i> Sell
              </a>
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('ms', MarketSentiment[MarketSentiment.h])"
                 (click)="updateMarketSentiment(MarketSentiment.h)">
                <i class="bi" [ngClass]="inQueryParams('ms', MarketSentiment[MarketSentiment.h])?'bi-check2-square':'bi-square'"></i> Hold
              </a>
              <a role="button" class="btn btn-outline-secondary"
                 [class.active]="inQueryParams('ms', MarketSentiment[MarketSentiment.b])"
                 (click)="updateMarketSentiment(MarketSentiment.b)">
                <i class="bi" [ngClass]="inQueryParams('ms', MarketSentiment[MarketSentiment.b])?'bi-check2-square':'bi-square'"></i> Buy
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>


<!-- FILTER METACONTROLS: SHOW/HIDE TRAY AND CLEAR FILTERS. -->
  <div class="row py-2" id="filter-tray__buttons-row">
    <div class="col-auto me-auto me-xl-0 ps-lg-5">
      <a role="button" class="btn btn-primary float-start" data-bs-toggle="collapse" href="#filter-tray__collapsible"
         (click)="onToggleFilterTrayOpen()">
        <i class="bi" [ngClass]="{'bi-caret-down-fill': !filterTrayOpen, 'bi-caret-up-fill': filterTrayOpen}"></i> {{filterTrayOpen ? 'Hide filters' : 'Show filters'}}
      </a>
    </div>

    <div class="col-auto pe-lg-5">
      <a role="button" class="btn btn-link text-decoration-none float-end float-lg-start pe-0 pe-lg-2"
         (click)="resetFilters()">
        Reset filters
      </a>
    </div>
  </div>

</div>
