<div class="btn-group" role="group">
  <a role="button"
     class="btn btn-secondary"
     [ngClass]="{'active': queryParams?.order === 'alphabetical'}"
     (click)="toggleOrder('alphabetical')">
    A🠖Z
  </a>
  <a role="button"
     class="btn btn-secondary"
     [ngClass]="{'active': queryParams?.order === 'reverse'}"
     (click)="toggleOrder('reverse')">
    A🠔Z
  </a>
</div>

<div>
  <a role="button"
     class="btn btn-secondary"
     (click)="clearQueryParams()">
    clear
  </a>
</div>
