#filter-tray__collapsible {
  .filter-label {
    font-size: 1.1rem;
    font-variant: all-small-caps;
  }

  .form-check,
  .form-check * {
    cursor: pointer;
  }

  .form-check {
    border-bottom: 4px solid #f8f9fa;
    &:not([checked]) {
      color: #6c757d;
    }
    &:not([checked]):hover,
    &[checked] {
      color: black;
      border-bottom: 4px solid black;
    }
  }

  .filter-tray__collapsible__btn-group .btn,
  .--btn-radio > .btn {
    background: initial;
    border: none;
    margin: 0 0.2rem;
    padding: 0.3rem 0.6rem;

    &:hover,
    &.active {
      color: initial;
    }
  }
  .filter-tray__collapsible__btn-group .btn {
    border-radius: 3px;
    &:hover {
      background: #E7E9EA;
    }
    &.active {
    }
  }
  .--btn-radio > .btn {
    border-radius: 1rem;
    &:hover {
      background: #E7E9EA;
    }
    &.active {
    }
  }

}

#filter-tray__collapsible__colour-key {
  background: white;
  border-radius: 0.25rem;
  //border: 1px dashed gainsboro;
}
